<ngb-accordion [closeOthers]="true">
  <ngb-panel id="static-{{i}}" *ngFor="let data of lista; let i=index">
    <ng-template ngbPanelTitle>
      <span (click)="consultarRaza(data.nombre)"> <b>{{data.nombre}}</b> </span>
    </ng-template>
    <ng-template ngbPanelContent>
      <ngb-alert [dismissible]="false" *ngFor="let dataSub of listaSub; let j=index" class="pointer" (click)="seleccionar(dataSub)">
        <strong>{{dataSub.nombre}}</strong>
        <span class="float-right">
          <small class="text-muted col-xs-12 col-sm-12 col-md-12">
              <ngb-rating class="mx-auto" max="1" [readonly]="dataSub.validacion" [(rate)]="dataSub.validacion" (click)="agregarFavoritos(data.nombre,dataSub.nombre)"></ngb-rating>
            </small>
        </span>
      </ngb-alert>
      <ngb-alert [dismissible]="false" *ngIf="listaSub.length == 0">
        <strong>No Existe Sub Razas Aun</strong>
      </ngb-alert>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
